<p id="notice"><%= notice %></p>
<table>
  <th>Immatriculation</th>
  <th>Couleur</th>
  <th>Modèle</th>
  <th>Date mise en service</th>
    <%= render "partial/voiture", voiture: @voiture  %>
</table>
<br>
<p>
  <strong>Appartient à :</strong>
  <%= link_to @voiture.personne.try(:nom), @voiture.personne if @voiture.personne%>
</p>
<% if @voiture.image.attached? %>
  <div class="image">
    <%= image_tag @voiture.image %>
  </div>
<% end %>


<%= link_to 'Edit', edit_voiture_path(@voiture) %> |
<%= link_to 'Back', voitures_path %>
